<!--The content below is only a placeholder and can be replaced.-->
<div class="header" style="text-align:center">
  <h1>
    <img src="../assets/drawables/mbta.png" alt="mbta" width="80" height="80">
    Boston MBTA
  </h1>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <form class="form-inline">
      <div class="form-group">
        <input type="search" class="form-control" id="from" placeholder="Enter Origin" name="from">
      </div>
      <div class="form-group">
        <input type="search" class="form-control" id="to" placeholder="Enter Destination" name="to">
      </div>
    </form>

  <div class="buttons">
    <button type="button" class="btn btn-success" (click)="setShowSubwayRoutesFlag(); makeRouteRequest()">All Subway Routes</button>
    <button type="button" class="btn btn-info" (click)="setShowStopsInfoFlag(); getStopInfo()">Get Stop Info</button>
    <button type="button" class="btn btn-primary" (click)="getRouteBetweenTwoStops()">Plan a Trip</button>
  </div>

  <div #answerDiv class="answer">
    <textarea class="form-control" rows="15" type="text" placeholder="Select one of the above options..." readonly></textarea>
  </div>

<router-outlet></router-outlet>
