.buttons {
    padding-top: 7%;
    display: flex;
    justify-content: space-around;
    background-color: #bfbfbf;
}

.form-inline {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    background-color: #bfbfbf;
}

.btn {
    padding: 2.5rem 10rem !important;
  }

.header {
    background-color: #bfbfbf;
}

.answer {
    padding-top: 5%;
    width: 50%;
    float: center;
    display: flex;
    justify-content: space-around;
    background-color: #bfbfbf;
    display: block;
    margin-left: auto;
    margin-right: auto;
}